.container {
  position: relative;
}

.stock-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.stock-info {
  width: 20%;
  border: 1px solid #ccc;
  padding: 10px;
}

.definition {
  position: relative;
  max-width: 600px;
}

.definition:hover::before {
  content: attr(data-definition);
  position: absolute;
  background-color: #ccc;
  padding: 5px;
  border-radius: 5px;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: normal;
  word-wrap: break-word;
  font-size: 14px;
  width: max-content;
  max-width: 400px;
}

.stock-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px; /* Add padding-bottom to increase space */
}

.stock-input label {
  margin-right: 10px;
}

#fetchBtn {
  position: absolute;
  top: 10px;
  right: 300px;
}
